{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}

{% block main_content %}
    <!--==========
  Start of page title ==========-->

    <section class="py-10">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <h1>Who <span class="text-warning"> We</span> Are</h1>
                    <p class="lead">We are a digital transformation consultancy and software development company that
                        provides cutting edge engineering solutions, helping companies and enterprise
                        clients untangle complex issues that always emerge during their digital evolution journey. Since
                        2020 we have been a visionary and a reliable software engineering partner for world-class
                        brands.</p>
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of page title ==========-->


    <!--==========
      Start of about section ==========-->

    <section class="slice-pb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="position-relative">
                        <img class="img-fluid box-shadow rounded" src="{% static 'images/about/company.jpg' %}"
                             alt="about">
                        <div class="bg-primary-gradient p-3 p-sm-5 position-absolute bottom-0 right-0 w-50 mb-n5 rounded">
                            <span class="text-white">How we work</span>
                            <h2 class="text-white">Know Our Strategy</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 mt-5 mt-lg-0">
                    <div class="ps-lg-5 mt-5 mt-lg-0">
                        <div class="mb-5">
                            <span class="text-primary">How We Work</span>
                            <h2>A beacon of innovation. The artisans of
                                your <span class="text-warning">Digital Tomorrow</span>.</h2>
                        </div>

                        <!--===== Start of feature item =====-->
                        <div class="d-flex mb-4">
                            <div class="bg-primary-soft-01 avatar-70 flex-70 rounded-circle text-center pt-4">
                                <h5 class="text-primary">01</h5>
                            </div>
                            <div class="ms-4">
                                <h6>Quality</h6>
                                <p>Our commitment is to deliver outstanding cutting-edge IT solutions that add real
                                    value to your business.</p>
                            </div>
                        </div>
                        <!--===== End of feature item =====-->

                        <!--===== Start of feature item =====-->
                        <div class="d-flex mb-4">
                            <div class="bg-primary-soft-01 avatar-70 flex-70 rounded-circle text-center pt-4">
                                <h5 class="text-primary">02</h5>
                            </div>
                            <div class="ms-4">
                                <h6>Creativity</h6>
                                <p>We use our diverse experience to give real life to your idea that will not only look
                                    great – but will add value.</p>
                            </div>
                        </div>
                        <!--===== End of feature item =====-->

                        <!--===== Start of feature item =====-->
                        <div class="d-flex">
                            <div class="bg-primary-soft-01 avatar-70 flex-70 rounded-circle text-center pt-4">
                                <h5 class="text-primary">03</h5>
                            </div>
                            <div class="ms-4">
                                <h6>Transparency & Support</h6>
                                <p>To ensure client satisfaction we keep them
                                    engaged throughout the development process and provide dedicated support.</p>
                            </div>
                        </div>
                        <!--===== End of feature item =====-->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of about section ==========-->


    <!--==========
      Start of services section ==========-->

    <section class="slice-pb">
        <div class="container">

            <!--===== Start of row =====-->
            <div class="row">
                <h2 class="text-center mb-5 mt-5">Why Choose Us?</h2>
                <hr>
                <div class="col-md-4 mb-md-0 mb-4">
                    <!--===== Start of feature item =====-->
                    <div class="p-5 feature-box-shadow">
                        <i class="feather icon-box display-4 text-warning"></i>
                        <div class="mt-4">
                            <h4 class="mb-3">Proven Track Record</h4>
                            <p>Our team goes above and beyond to provide total satisfaction. Your happiness is always
                                our foremost priority.</p>
                        </div>
                    </div>
                    <!--===== End of feature item =====-->
                </div>
                <div class="col-md-4 mb-md-0 mb-4">
                    <!--===== Start of feature item =====-->
                    <div class="p-5 feature-box-shadow active">
                        <i class="feather icon-check-circle display-4 text-warning"></i>
                        <div class="mt-4">
                            <h4 class="mb-3">Domain Expertise</h4>
                            <p>We possess in-depth knowledge of your industry’s unique needs and standards to
                                efficiently deliver superior results.</p>
                        </div>
                    </div>
                    <!--===== End of feature item =====-->
                </div>
                <div class="col-md-4">
                    <!--===== Start of feature item =====-->
                    <div class="p-5 feature-box-shadow">
                        <i class="feather icon-crosshair display-4 text-warning"></i>
                        <div class="mt-4">
                            <h4 class="mb-3">Superior Value</h4>
                            <p>Our innovative hybrid project delivery model combines the benefits of onsite agility and
                                offshore affordability.</p>

                        </div>
                    </div>
                    <!--===== End of feature item =====-->
                </div>
            </div>
            <!--===== End of row =====-->

        </div>
    </section>

    <!--==========
      End of services section ==========-->

    <!--==========
      Start of client section ==========-->

    <section class="pb-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="mb-5 text-center">
                        <h4> Our Clients </h4>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <!--===== Start of clients item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/01.svg' %}" alt="">
                    </div>
                    <!--===== End of clients item =====-->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <!--===== Start of clients item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/02.svg' %}" alt="">
                    </div>
                    <!--===== End of clients item =====-->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <!--===== Start of clients item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/03.svg' %}" alt="">
                    </div>
                    <!--===== End of clients item =====-->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <!--===== Start of clients item =====-->
                     <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/04.svg' %}" alt="">
                    </div>
                    <!--===== End of clients item =====-->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <!--===== Start of clients item =====-->
                     <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/05.svg' %}" alt="">
                    </div>
                    <!--===== End of clients item =====-->
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <!--===== Start of clients item =====-->
                     <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/06.svg' %}" alt="">
                    </div>
                    <!--===== End of clients item =====-->
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of client section ==========-->

    <!--==========
      Start of Video amd counter section ==========-->

    <section class="slice-ptb bg-fit overlay-dark-70"
             style="background-image: url('{% static 'images/about/banner_2.jpg' %}');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">

                    <!--===== Start of left item =====-->
                    <h6 class="text-white mb-4">DevA+ in numbers.</h6>
                    <h2 class="text-warning mb-3 display-4">+2 Years and Beyond</h2>
                    <p class="text-white mb-4 lead">A track record of continual innovation has kept us at the cutting
                        edge</p>
                    <p class="text-white mb-4">With a +2 track record of successful solutions to complex business
                        problems, the <span class="text-warning">DevA+</span> is a global force for digitally driven change.</p>
                    <a class="btn btn-outline-white btn-rounded mt-4" href="#">Our services</a>
                    <!--===== End of left item =====-->

                </div>
                <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">

                    <!--===== Start of counter item =====-->
                    <div class="counter text-center bg-white-soft-01 p-4 rounded mb-3">
                        <span class="timer counter-number display-5 text-warning font-weight-normal" data-to="150"
                              data-speed="150"></span><span class="display-5 text-warning font-weight-normal">+</span>
                        <h6 class="counter-text mb-0 text-white">Satisfied Clients</h6>
                    </div>
                    <!--===== End of counter item =====-->

                    <!--===== Start of counter item =====-->
                    <div class="counter text-center bg-white-soft-01 p-4 rounded mb-3">
                        <span class="timer counter-number display-5 text-warning font-weight-normal" data-to="1842"
                              data-speed="1842"></span><span class="display-5 text-warning font-weight-normal">+</span>
                        <h6 class="counter-text mb-0 text-white">Working hours</h6>
                    </div>
                    <!--===== End of counter item =====-->

                    <!--===== Start of counter item =====-->
                    <div class="counter text-center bg-white-soft-01 p-4 rounded">
                        <span class="timer counter-number display-5 text-warning font-weight-normal" data-to="20"
                              data-speed="20"></span><span class="display-5 text-warning font-weight-normal">+</span>
                        <h6 class="counter-text mb-0 text-white">Employees</h6>
                    </div>
                    <!--===== End of counter item =====-->

                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of Video amd counter section ==========-->


    <!--==========
      Start of team section ==========-->

    <section class="slice-ptb">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8">
                    <div class="mb-5">
                        <span class="text-primary">Our team</span>
                        <h2>Our seasoned professionals and industry veterans</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container swiper-container-auto" data-slidesPerView="4"
                         data-laptop-slidesPerView="3" data-tablet-slidesPerView="2" data-mobile-slidesPerView="1"
                         data-spaceBetween="24" data-loop="true" data-autoplay="true" data-auto-speed="2500"
                         data-disable-on-touch="false" data-dots="true" data-auto-height="false" data-pagination="true"
                         data-navigation="true">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!--===== Start of team item =====-->
                                <div class="team-item team-item-round text-center">
                                    <div class="team-image">
                                        <img class="img-fluid rounded-circle" src="{% static 'images/team/05.jpg' %}" alt="">
                                    </div>
                                    <div class="team-caption mt-3">
                                        <h5 class="mb-1">Kobe taylor</h5>
                                        <span>Marketing </span>
                                    </div>
                                    <ul class="list-unstyled team-social d-flex justify-content-center">
                                        <li class="facebook"><a class="mx-2" href="#"> <i class="fab fa-facebook-f"></i>
                                        </a></li>
                                        <li class="twitter"><a class="mx-2" href="#"> <i class="fab fa-twitter"></i>
                                        </a></li>
                                        <li class="linkedin"><a class="mx-2" href="#"> <i
                                                class="fab fa-linkedin-in"></i> </a></li>
                                        <li class="instagram"><a class="mx-2" href="#"> <i class="fab fa-instagram"></i>
                                        </a></li>
                                    </ul>
                                </div>
                                <!--===== End of team item =====-->
                            </div>
                            <div class="swiper-slide">
                                <!--===== Start of team item =====-->
                                <div class="team-item team-item-round text-center">
                                    <div class="team-image">
                                        <img class="img-fluid rounded-circle" src="{% static 'images/team/06.jpg' %}" alt="">
                                    </div>
                                    <div class="team-caption mt-3">
                                        <h5 class="mb-1">Skye peters</h5>
                                        <span>Web designer</span>
                                    </div>
                                    <ul class="list-unstyled team-social d-flex justify-content-center">
                                        <li class="facebook"><a class="mx-2" href="#"> <i class="fab fa-facebook-f"></i>
                                        </a></li>
                                        <li class="twitter"><a class="mx-2" href="#"> <i class="fab fa-twitter"></i>
                                        </a></li>
                                        <li class="linkedin"><a class="mx-2" href="#"> <i
                                                class="fab fa-linkedin-in"></i> </a></li>
                                        <li class="instagram"><a class="mx-2" href="#"> <i class="fab fa-instagram"></i>
                                        </a></li>
                                    </ul>
                                </div>
                                <!--===== End of team item =====-->
                            </div>
                            <div class="swiper-slide">
                                <!--===== Start of team item =====-->
                                <div class="team-item team-item-round text-center">
                                    <div class="team-image">
                                        <img class="img-fluid rounded-circle" src="{% static 'images/team/07.jpg' %}" alt="">
                                    </div>
                                    <div class="team-caption mt-3">
                                        <h5 class="mb-1">Lewis bass</h5>
                                        <span>Developer</span>
                                    </div>
                                    <ul class="list-unstyled team-social d-flex justify-content-center">
                                        <li class="facebook"><a class="mx-2" href="#"> <i class="fab fa-facebook-f"></i>
                                        </a></li>
                                        <li class="twitter"><a class="mx-2" href="#"> <i class="fab fa-twitter"></i>
                                        </a></li>
                                        <li class="linkedin"><a class="mx-2" href="#"> <i
                                                class="fab fa-linkedin-in"></i> </a></li>
                                        <li class="instagram"><a class="mx-2" href="#"> <i class="fab fa-instagram"></i>
                                        </a></li>
                                    </ul>
                                </div>
                                <!--===== End of team item =====-->
                            </div>
                            <div class="swiper-slide">
                                <!--===== Start of team item =====-->
                                <div class="team-item team-item-round text-center">
                                    <div class="team-image">
                                        <img class="img-fluid rounded-circle" src="{% static 'images/team/08.jpg' %}" alt="">
                                    </div>
                                    <div class="team-caption mt-3">
                                        <h5 class="mb-1">Jerome mayo</h5>
                                        <span>CEO </span>
                                    </div>
                                    <ul class="list-unstyled team-social d-flex justify-content-center">
                                        <li class="facebook"><a class="mx-2" href="#"> <i class="fab fa-facebook-f"></i>
                                        </a></li>
                                        <li class="twitter"><a class="mx-2" href="#"> <i class="fab fa-twitter"></i>
                                        </a></li>
                                        <li class="linkedin"><a class="mx-2" href="#"> <i
                                                class="fab fa-linkedin-in"></i> </a></li>
                                        <li class="instagram"><a class="mx-2" href="#"> <i class="fab fa-instagram"></i>
                                        </a></li>
                                    </ul>
                                </div>
                                <!--===== End of team item =====-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of team section ==========-->



{##}
{#    <!--==========#}
{#      Start of Typer section ==========-->#}
{##}
{#    <section class="py-5 bg-primary-gradient">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-12 text-center">#}
{#                    <h3 class="text-white">We are a digital agency <u class="typer text-warning"#}
{#                                                                      data-words="creating,fun,lightweight,easy"#}
{#                                                                      data-delay="100" data-deleteDelay="1000"></u>#}
{#                        websites.</h3>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{##}
{#    <!--==========#}
{#      End of Typer section ==========-->#}

{% endblock main_content %}

