{% extends 'base.html' %}
{% load  static %}
{% block title %}Development Done Right {% endblock title %}
{% block main_content %}
    <!--========== Start of banner section ==========-->

    <section class="banner-landing bg-fit position-relative">
        <div class="position-absolute top-0 start-0 translate-middle-y mt-9 ms-8">
            <img class="img-fluid" src="{% static 'images/landing/05.png' %}" alt="">
        </div>
        <div class="position-absolute top-100 start-0 translate-middle d-none d-lg-block">
            <img class="img-fluid" src="{% static 'images/landing/03.png' %}" alt="">
        </div>
        <div class="position-absolute bottom-0 end-0  d-none d-lg-block">
            <img class="img-fluid" src="{% static 'images/landing/04.png' %}" alt="">
        </div>
        <div class="position-absolute top-0 end-0 me-9 mt-8">
            <img class="img-fluid" src="{% static 'images/landing/02.png' %}" alt="">
        </div>
        <div class="position-absolute top-50 start-50 translate-middle mt-n2 ms-7">
            <img class="img-fluid" src="{% static 'images/landing/06.png' %}" alt="">
        </div>

        <div class="container overflow-hidden">
            <div class="swiper-container-animation" data-slidesPerView="1" data-mobile-slidesPerView="1"
                 data-tablet-slidesPerView="1" data-spaceBetween="20" data-loop="true" data-autoplay="true"
                 data-auto-speed="2000" data-disable-on-touch="true" data-dots="true" data-auto-height="false"
                 data-pagination="true" data-navigation="true">
                <div class="swiper-wrapper">

                    <div class="swiper-slide" data-hash="slide1">
                        <!--===== Start of row =====-->
                        <div class="row align-items-center">
                            <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                            <span class="bg-pink-soft-01 px-4 py-2 text-dark rounded" data-swiper-animation="fadeInUp"
                                  data-delay="1s" data-duration="1s">Inspiring Technology.</span>
                                <h1 class="display-1 mb-4 pt-4" data-swiper-animation="fadeInUp" data-delay="1s"
                                    data-duration="1s"> Transforming Your Business <br> <span
                                        class="text-warning hedding-svg"> Digitally. </span></h1>
                                <h5 class="mt-5" data-swiper-animation="fadeInUp" data-delay="1s" data-duration="1s">
                                    Creative, flexible, portable, user-friendly, reliable</h5>
                                <a class="btn btn-green btn-round mt-3 mt-sm-5" href="#"
                                   data-swiper-animation="fadeInUp"
                                   data-delay="1s" data-duration="1s">Our Services</a>
                                <a class="btn btn-outline-dark btn-round ms-2 mt-3 mt-sm-5" href="#"
                                   data-swiper-animation="fadeInUp" data-delay="1s" data-duration="1s">Get a Quote</a>
                            </div>
                            <div class="col-lg-6 position-relative text-center">
                                <img class="img-fluid" src="{% static 'images/landing/cloud.jpg' %}" alt="">
                            </div>
                        </div>
                        <!--===== End of row =====-->
                    </div>

                    <div class="swiper-slide" data-hash="slide2">
                        <!--===== Start of row =====-->
                        <div class="row align-items-center">
                            <div class="col-lg-6 position-relative mb-5 mb-lg-0">
                            <span class="bg-pink-soft-01 px-4 py-2 text-dark rounded" data-swiper-animation="fadeInUp"
                                  data-delay="1s" data-duration="1s">Development Done Right.</span>
                                <h1 class="display-1 mb-4 pt-4" data-swiper-animation="fadeInUp" data-delay="1s"
                                    data-duration="1s"> From Idea <br> <span
                                        class="text-warning hedding-svg"> To Reality. </span></h1>
                                <h5 class="mt-5" data-swiper-animation="fadeInUp" data-delay="1s" data-duration="1s">
                                    In our company, we all have 2 jobs: <br>1) to do our job and <br>2) to improve it
                                </h5>
                                <a class="btn btn-green btn-round mt-3 mt-sm-5" href="#"
                                   data-swiper-animation="fadeInUp"
                                   data-delay="1s" data-duration="1s">Our Services</a>
                                <a class="btn btn-outline-dark btn-round ms-2 mt-3 mt-sm-5" href="#"
                                   data-swiper-animation="fadeInUp" data-delay="1s" data-duration="1s">Get a Quote</a>
                            </div>
                            <div class="col-lg-6 position-relative text-center">
                                <img class="img-fluid" src="{% static 'images/landing/agile.jpg' %}" alt="">
                            </div>
                        </div>
                        <!--===== End of row =====-->
                    </div>

                </div>
                <div class="swiper-button-prev"><i class="fas fa-arrow-left icon-btn"></i></div>
                <div class="swiper-button-next"><i class="fas fa-arrow-right icon-btn"></i></div>

            </div>
        </div>
    </section>

    <!--==========
        End of banner section ==========-->


    <!--==========
        Start of services section ==========-->

    <section class="slice-pb position-relative">
        <div class="container">
            <!--===== Start of row =====-->
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm-6 mb-4 mb-sm-0">
                            <div class="p-4 p-xl-5 rounded box-shadow-primary">
                                <i class="feather icon-aperture bg-green-soft-01 text-green avatar-80 d-block rounded-circle text-center fa-2x p-4 mb-4"></i>
                                <h4>Incredible support</h4>
                                <p>After sales support is our top priority.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="p-4 p-xl-5 rounded box-shadow-primary mb-5">
                                <i class="feather icon-award bg-pink-soft-01 text-pink avatar-80 d-block rounded-circle text-center fa-2x p-4 mb-4"></i>
                                <h4>Quality First</h4>
                                <p>Our commitment is to deliver outstanding cutting-edge IT solutions that add real
                                    value to your business.</p>
                            </div>
                            <div class="p-4 p-xl-5 rounded box-shadow-primary">
                                <i class="fa fa-lightbulb bg-primary-soft-01 text-primary avatar-80 d-block rounded-circle text-center fa-2x p-4 mb-4"></i>
                                <h4>Creativity</h4>
                                <p>We use our diverse experience to give real life to your idea that will not only look
                                    great – but will get results also.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1 mt-5 mt-lg-0">
                    <div class="mb-5">
                        <span class="bg-warning-soft-01 px-4 py-2 text-dark rounded">DevA+</span>
                        <span class="text-black"></span>
                        <h2 class="mt-3">Your Partner For Innovations.</h2>
                    </div>

                    <!--===== Start of accordion =====-->
                    <div class="accordion accordion-simple" id="accordion02">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    Our Company's Values
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse show" aria-labelledby="heading4"
                                 data-bs-parent="#accordion02">
                                <div class="accordion-body">
                                    <p class="mb-3">At DevA+, as it is clear from our name, we develop innovative and
                                        creative products and services that provide total communication and information
                                        solutions. Among a plethora of services, web design and development, tailor-made
                                        applications, ERPs, CRMs, e-commerce solutions, business-to-business
                                        applications, and business-to-client applications are few that we offer.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading5">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Why Choose Us?
                                </button>
                            </h2>
                            <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                 data-bs-parent="#accordion02">
                                <div class="accordion-body">
                                    <p class="mb-3">Sunt animi ratione doloribus illo <span
                                            class="text-primary">45,259</span> velit omnis? Doloribus quasi, maxime sint
                                        repellendus tenetur eum placeat ducimus similique dolor ut nihil velit
                                        cupiditate!
                                        Modi impedi</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading6">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    What We Offer?
                                </button>
                            </h2>
                            <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                                 data-bs-parent="#accordion02">
                                <div class="accordion-body">
                                    <p class="mb-3">Ea qui debitis dolores quasi officiis, maiores enim, error
                                        perspiciatis
                                        veniam distinctio eaque voluptatum aperiam illum in quisquam aliquam nemo,
                                        nesciunt
                                        <span class="text-primary">36,785</span> sed iusto ipsum</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--===== End of accordion =====-->

                    <p class="text-dark mb-0 mt-4"> Or <a class="btn btn-naked-border" href="#">Browse Our Services</a>
                    </p>
                </div>
            </div>
            <!--===== End of row =====-->
        </div>
    </section>

    <!--==========
        End of services section ==========-->


    <!--==========
       Start of Clients section ==========-->

    <section class="py-sm-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">

                    <!--===== Start of testimonials item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/01.svg' %}" alt="">
                        <ul class="client-item-list">
                            <li><span>Responsive </span></li>
                            <li><span>Flexibility </span></li>
                            <li><span>Incredible </span></li>
                            <li><span>Creative </span></li>
                        </ul>
                    </div>
                    <!--===== End of testimonials item =====-->

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">

                    <!--===== Start of testimonials item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/02.svg' %}" alt="">
                        <ul class="client-item-list">
                            <li><span>Responsive </span></li>
                            <li><span>Flexibility </span></li>
                            <li><span>Incredible </span></li>
                            <li><span>Creative </span></li>
                        </ul>
                    </div>
                    <!--===== End of testimonials item =====-->

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">

                    <!--===== Start of testimonials item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/03.svg' %}" alt="">
                        <ul class="client-item-list">
                            <li><span>Responsive </span></li>
                            <li><span>Flexibility </span></li>
                            <li><span>Incredible </span></li>
                            <li><span>Creative </span></li>
                        </ul>
                    </div>
                    <!--===== End of testimonials item =====-->

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">

                    <!--===== Start of testimonials item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/04.svg' %}" alt="">
                        <ul class="client-item-list">
                            <li><span>Responsive </span></li>
                            <li><span>Flexibility </span></li>
                            <li><span>Incredible </span></li>
                            <li><span>Creative </span></li>
                        </ul>
                    </div>
                    <!--===== End of testimonials item =====-->

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">

                    <!--===== Start of testimonials item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/05.svg' %}" alt="">
                        <ul class="client-item-list">
                            <li><span>Responsive </span></li>
                            <li><span>Flexibility </span></li>
                            <li><span>Incredible </span></li>
                            <li><span>Creative </span></li>
                        </ul>
                    </div>
                    <!--===== End of testimonials item =====-->

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">

                    <!--===== Start of testimonials item =====-->
                    <div class="client-item">
                        <img class="img-fluid image-grayscale" src="{% static 'images/clients/06.svg' %}" alt="">
                        <ul class="client-item-list">
                            <li><span>Responsive </span></li>
                            <li><span>Flexibility </span></li>
                            <li><span>Incredible </span></li>
                            <li><span>Creative </span></li>
                        </ul>
                    </div>
                    <!--===== End of testimonials item =====-->

                </div>
            </div>
        </div>
    </section>

    <!--==========
        End of Clients section ==========-->


    <!--==========
        Start of about section ==========-->

    <section class="slice-ptb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-5">
                    <span class="bg-pink-soft-01 px-4 py-2 text-dark rounded">Overview of Services</span>
                    <h3 class="mt-4">To give real service you must add something which cannot be bought or measured with
                        money, and that is sincerity and integrity.</h3>
                    <div class="row mt-5">
                        <div class="col-lg-6 mb-4">
                            <div class="d-flex bg-primary-soft-01 p-4 rounded">
                                <i class="feather icon-globe fa-2x text-primary"></i>
                                <div class="ms-4">
                                    <h5>Web Development</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="d-flex bg-warning-soft-01 p-4 rounded">
                                <i class="fas fa-mobile-alt fa-2x text-primary"></i>
                                <div class="ms-4">
                                    <h5>Mobile App Development</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="d-flex bg-green-soft-01 p-4 rounded">
                                <i class="feather icon-shopping-cart fa-2x text-primary"></i>
                                <div class="ms-4">
                                    <h5>E-commerce Solutions</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="d-flex bg-black-soft-01 p-4 rounded">
                                <i class="fas fa-desktop fa-2x text-primary"></i>
                                <div class="ms-4">
                                    <h5>UI/UX Designing</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-dark mb-0 mt-4"><a class="btn btn-naked-border" href="#">Browse All Services</a>
                </div>
                <div class="col-md-6 offset-lg-1">
                    <img class="img-fluid" src="{% static 'images/landing/07.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

    <!--==========
        End of about section ==========-->


    <!--==========
      Start of Feature step section ==========-->

    <section class="slice-ptb bg-light">
        <div class="container">
            <!--===== Start of row =====-->
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="mb-5">
                        <h2>How It Works? </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-4 mb-md-0">
                    <div class="process-step bg-white mx-lg-2">
                        <div class="step-number text-orange d-inline-block ">01</div>
                        <div class="text-center px-5 pb-5 d-block">
                            <img width="50" height="50" src="{% static 'images/process/documents.svg' %}"
                                 alt="">
                            <h4 class="mt-4 btn btn-naked-border" style="font-size: 25px">Research</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4 mb-md-0">
                    <div class="process-step bg-white mx-lg-2">
                        <div class="step-number text-orange d-inline-block ">02</div>
                        <div class="text-center px-5 pb-5 d-block">
                            <img width="50" height="50" src="{% static 'images/process/checklist.svg' %}"
                                 alt="">
                            <h4 class="mt-4 btn btn-naked-border" style="font-size: 25px">Plan</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4 mb-md-0">
                    <div class="process-step bg-white mx-lg-2">
                        <div class="step-number text-orange d-inline-block ">03</div>
                        <div class="text-center px-5 pb-5 d-block">
                            <img width="50" height="50" src="{% static 'images/process/vector.svg' %}"
                                 alt="">
                            <h4 class="mt-4 btn btn-naked-border" style="font-size: 25px">Design</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4 mb-md-0">
                    <div class="process-step bg-white mx-lg-2">
                        <div class="step-number text-orange d-inline-block ">04</div>
                        <div class="text-center px-5 pb-5 d-block">
                            <img width="50" height="50" src="{% static 'images/process/development.svg' %}"
                                 alt="">
                            <h4 class="mt-4 btn btn-naked-border" style="font-size: 25px">Develop</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4 mb-md-0">
                    <div class="process-step bg-white mx-lg-2">
                        <div class="step-number text-orange d-inline-block ">05</div>
                        <div class="text-center px-5 pb-5 d-block">
                            <img width="50" height="50" src="{% static 'images/process/test.svg' %}"
                                 alt="">
                            <h4 class="mt-4 btn btn-naked-border" style="font-size: 25px">Testing</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 mb-4 mb-md-0">
                    <div class="process-step bg-white mx-lg-2">
                        <div class="step-number text-orange d-inline-block ">06</div>
                        <div class="text-center px-5 pb-5 d-block">
                            <img width="50" height="50" src="{% static 'images/process/launch.svg' %}"
                                 alt="">
                            <h4 class="mt-4 btn btn-naked-border" style="font-size: 25px">Launch</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========
      End of Feature step section ==========-->
    <!--==========
        Start of Testimonials section ==========-->

    <section class="slice-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <span class="bg-green-soft-01 px-4 py-2 text-dark rounded">Our Testimonials.</span>
                    <h2 class="display-1 my-4">Here to <span class="hedding-svg text-warning">stay</span></h2>
                    <p>This is what our clients are saying about us.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <img class="img-fluid w-400 mx-auto" src="{% static 'images/landing/08.png' %}" alt="">
                </div>
                <div class="col-lg-4 text-end mt-4 mt-sm-0">
                    <h2>4,9</h2>
                    <ul class="d-flex justify-content-end fs-2 text-warning">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                    <p class="lead">Average of our clients ratings</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="swiper-container" data-slidesPerView="3" data-laptop-slidesPerView="3"
                         data-tablet-slidesPerView="2" data-mobile-slidesPerView="1" data-spaceBetween="20"
                         data-loop="true"
                         data-autoplay="true" data-auto-speed="2500" data-disable-on-touch="false" data-dots="true"
                         data-auto-height="false" data-pagination="true" data-navigation="true">
                        <div class="swiper-wrapper">

                            <!--===== Start of testimonials item =====-->
                            <div class="swiper-slide">
                                <div class="bg-pink-soft-01 p-5 rounded">
                                    <div class="mb-2">
                                        <p>Be grateful! It is easy to thank after obtaining what you want, thank before
                                            having what you want...”</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded-circle avatar-50"
                                             src="{% static 'images/avatar/01.jpg' %}" alt="">
                                        <div class="ms-3">
                                            <h6 class="mb-0"><a class="text-primary" href="#">Lewis Bass</a></h6>
                                            <small class="d-block">by @google play</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--===== End of testimonials item =====-->

                            <!--===== Start of testimonials item =====-->
                            <div class="swiper-slide">
                                <div class="bg-warning-soft-01 p-5 rounded">
                                    <div class="mb-2">
                                        <p>If you are going to achieve excellence in big things, you develop the habit
                                            in
                                            little matters...”</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded-circle avatar-50"
                                             src="{% static 'images/avatar/02.jpg' %}" alt="">
                                        <div class="ms-3">
                                            <h6 class="mb-0"><a class="text-primary" href="#">Jerome Mayo</a></h6>
                                            <small class="d-block">by @slack</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--===== End of testimonials item =====-->

                            <!--===== Start of testimonials item =====-->
                            <div class="swiper-slide">
                                <div class="bg-primary-soft-01 p-5 rounded">
                                    <div class="mb-2">
                                        <p>Be patient with yourself. Self-growth is tender; it's holy ground. There's no
                                            greater investment...”</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <img class="img-fluid rounded-circle avatar-50"
                                             src="{% static 'images/avatar/03.jpg' %}" alt="">
                                        <div class="ms-3">
                                            <h6 class="mb-0"><a class="text-primary" href="#">Naima Haley</a></h6>
                                            <small class="d-block">by @skype</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--===== End of testimonials item =====-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========
        End of Testimonials section ==========-->

    <!--==========
    Start of services section ==========-->

    <section class="py-5 position-relative">
        <div class="container">

            <!--===== Start of row =====-->
            <div class="row align-items-center">
                <div class="col-xl-4 col-lg-5 mb-4 mb-lg-0">
                    <h2>Ready to get started? talk to us today</h2>
                </div>
                <div class="col-xl-8 col-lg-7 text-lg-end">
                    <a class="btn btn-warning btn-round" href="#"> Get started now</a>
                </div>
            </div>
            <!--===== End of row =====-->

        </div>
    </section>

    <!--==========
        End of services section ==========-->

    <section>
        <hr>
    </section>
{% endblock main_content %}