{% extends 'base.html' %}
{% load static %}
{% block title %} Services {% endblock title %}

{% block main_content %}
    <!--==========
  Start of page title ==========-->

    <section class="py-10">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-lg-9 col-xl-8">
                    <h1>Our <span class="text-warning">Services</span></h1>
                    <p class="lead">Innovation that drives your business. More than just technology providers – DevA+ is
                        your partner in digitally driven business excellence.</p>
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of page title ==========-->


    <!--==========
      Start of services section ==========-->

    <section class="slice-ptb bg-light">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-6">
                    <div class="mb-5">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6 mb-4">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-box bg-white text-warning avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Incredible support</h5>
                    <p>Totam ipsam maxime sed deserunt laborum, tempora quas quod cum dolore. Iste, sint! Corporis
                        tenetur placeat culpa atque.</p>
                    <!--===== End of service item =====-->

                </div>
                <div class="col-lg-3 col-sm-6 mb-4">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-heart bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Fully responsive design</h5>
                    <p>Nam cum minima expedita autem voluptatum porro consequuntur quas perspiciatis. Placeat ex
                        eligendi nobis modi velit animi.</p>
                    <!--===== End of service item =====-->

                </div>
                <div class="col-lg-3 col-sm-6 mb-4">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-edit bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Retina ready design</h5>
                    <p>Id, consequuntur! Vero nulla nam eum atque natus repellat quibusdam laboriosam sit accusamus
                        neque, vitae ea minima quam quia.</p>
                    <!--===== End of service item =====-->

                </div>
                <div class="col-lg-3 col-sm-6 mb-5">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-crosshair bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Audio and video</h5>
                    <p>Optio accusamus molestias quod delectus laudantium consequuntur minima hic, expedita, magnam
                        quasi molestiae non ad, saepe eum.</p>
                    <!--===== End of service item =====-->

                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-box bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Parallax support</h5>
                    <p>Sunt animi ratione doloribus illo reprehenderit velit omnis? Doloribus quasi, vel perferendis
                        vitae eos maxime sint repellendus tenetur eum placeat.</p>

                    <!--===== End of service item =====-->
                </div>
                <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-heart bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Detailed documentation</h5>
                    <p>Ea qui debitis dolores quasi officiis, maiores enim, error perspiciatis veniam distinctio eaque
                        voluptatum in quisquam vel perferendis vitae eos.</p>

                    <!--===== End of service item =====-->
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-edit bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Unique design concept</h5>
                    <p>Expedita reprehenderit saepe, sapiente iure deserunt molestias laudantium aliquid soluta ut nulla
                        eligendi vel perferendi eos doloremque.</p>

                    <!--===== End of service item =====-->

                </div>
                <div class="col-lg-3 col-sm-6">

                    <!--===== Start of service item =====-->
                    <i class="feather icon-crosshair bg-white text-primary avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                    <h5 class="mb-4 mt-4">Different Layout </h5>
                    <p>Odio reprehenderit, deserunt tenetur nemo beatae corporis facere, optio explicabo natus? Impedit
                        fuga minima ipsa voluptate corporis odio quae.</p>

                    <!--===== End of service item =====-->
                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of services section ==========-->


    <!--==========
      Start of services section ==========-->

    <section class="slice-ptb bg-white">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12">
                    <div class="mb-5">
                        <span class="text-primary">Our Values</span>
                        <h2>We Believe in Values, in Every Service.</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">

                    <!--===== Start of servive item =====-->
                    <div class="d-flex">
                        <i class="feather icon-thumbs-up bg-warning text-dark avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                        <div class="ms-4">
                            <h5 class="mb-4 mt-4">Quality</h5>
                            <p>Totam ipsam maxime sed deserunt laborum, tempora quas quod cum dolore. Iste, sint!
                                Corporis tenetur.</p>
                            <div class="list-style-02 mt-4">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check"></i> Eum recusandae odio perspiciatis unde in incidunt
                                    </li>
                                    <li><i class="fas fa-check"></i> Voluptas ab facere quaerat</li>
                                    <li><i class="fas fa-check"></i> Odit eligendi mollitia aliquid</li>
                                    <li><i class="fas fa-check"></i> qui nam, et! Reprehenderit</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--===== End of servive item =====-->

                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0 mb-4">

                    <!--===== Start of servive item =====-->
                    <div class="d-flex">
                        <i class="feather icon-award bg-warning text-dark avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                        <div class="ms-4">
                            <h5 class="mb-4 mt-4">Creativity</h5>
                            <p>Nam cum minima expedita autem voluptatum porro consequuntur quas perspiciatis nobis modi
                                .</p>
                            <div class="list-style-02 mt-4">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check"></i> Corporis tenetur placeat culpa atque veritatis
                                        nobis.
                                    </li>
                                    <li><i class="fas fa-check"></i> Nisi consectetur laudantium</li>
                                    <li><i class="fas fa-check"></i> Totam accusamus impedit</li>
                                    <li><i class="fas fa-check"></i> Delectus, officiis sequi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--===== End of servive item =====-->

                </div>
                <div class="col-lg-4">

                    <!--===== Start of servive item =====-->
                    <div class="d-flex">
                        <i class="feather icon-phone-call bg-warning text-dark avatar-80 d-block shadow-sm rounded-circle text-center fa-2x p-4"></i>
                        <div class="ms-4">
                            <h5 class="mb-4 mt-4">Transparency & Support</h5>
                            <p>Id, consequuntur! Vero nulla nam eum atque natus repellat laboriosam sit accusamus
                                neque.</p>
                            <div class="list-style-02 mt-4">
                                <ul class="list-unstyled">
                                    <li><i class="fas fa-check"></i> Maxime sint repellendus tenetur eum placeat</li>
                                    <li><i class="fas fa-check"></i> Error perspiciatis veniam</li>
                                    <li><i class="fas fa-check"></i> Ut nulla eligendi doloremque</li>
                                    <li><i class="fas fa-check"></i> Veniam repudiandae</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--===== End of servive item =====-->

                </div>
            </div>
        </div>
    </section>

    <!--==========
      End of services section ==========-->

    {##}
    {#    <!--==========#}
    {#      Start of Typer section ==========-->#}
    {##}
    {#    <section class="py-5 bg-primary-gradient">#}
    {#        <div class="container">#}
    {#            <div class="row justify-content-center">#}
    {#                <div class="col-12 text-center">#}
    {#                    <h3 class="text-white">We are a digital agency <u class="typer text-warning"#}
    {#                                                                      data-words="creating,fun,lightweight,easy"#}
    {#                                                                      data-delay="100" data-deleteDelay="1000"></u>#}
    {#                        websites.</h3>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}
    {##}
    {#    <!--==========#}
    {#      End of Typer section ==========-->#}

{% endblock main_content %}

